<a href="https://colab.research.google.com/github/SantiagoLizarazo/PROGCOM-B/blob/main/LISTAS_Taller.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicios Resueltos: Taller de Listas

In [1]:
#1. Crear una lista con los cuadrados de los números del 1 al 10.

cuadrados = [i ** 2 for i in range(1,11)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#2. Obtener una lista con los números pares del 0 al 20.

NumerosPares = [i for i in range(1,21) if i%2 == 0]
NumerosPares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [3]:
#3. Crear una lista con el doble de cada número del 1 al 5.

NumerosDobles = [i * 2 for i in range(1,6)]
NumerosDobles

[2, 4, 6, 8, 10]

In [4]:
#4. De la palabra "programacion", obtener solo las vocales.

palabra = "programacion"
vocales = [letra for letra in palabra if letra in "aeiou"]
vocales

['o', 'a', 'a', 'i', 'o']

In [5]:
#5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas.

Programas = ["python", "java", "c++"]
Mayúsculas = [i.upper() for i in Programas]
Mayúsculas

['PYTHON', 'JAVA', 'C++']

In [6]:
#6. Crear una lista con "par" o "impar" para los números del 1 al 10.

ListaNumers = [1,2,3,4,5,6,7,8,9,10]
clasificacion = [("par",x) if x%2==0 else ("impar",x) for x in ListaNumers]
clasificacion

[('impar', 1),
 ('par', 2),
 ('impar', 3),
 ('par', 4),
 ('impar', 5),
 ('par', 6),
 ('impar', 7),
 ('par', 8),
 ('impar', 9),
 ('par', 10)]

In [7]:
#7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5.

ListaNumeros = [1,2,3,4,5]
NumerosCuadrados = [(x, "su cuadrado es" ,x**2 ) for x in ListaNumeros]
NumerosCuadrados

[(1, 'su cuadrado es', 1),
 (2, 'su cuadrado es', 4),
 (3, 'su cuadrado es', 9),
 (4, 'su cuadrado es', 16),
 (5, 'su cuadrado es', 25)]

In [8]:
#8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3].

Letras = ["a","b"]
Numeros = [1,2,3]
Combinados = [(letra,Numero) for letra in Letras for Numero in Numeros]
Combinados

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [11]:
#9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras.

palabras =["sol", "estrella", "mar", "planeta"]
filtro = [i for i in palabras if len(i) > 4]
filtro

['estrella', 'planeta']

In [12]:
#10.  Clasificar la temperatura de una lista. Si la temperatura es menor a 26, el clima es "frío". Si está entre 26 a 29, es "templado". Si es mayor a 29, el clima es "caliente".

temperatura=list(range(1,31))
datos=[("frío",x) if x<26 else ("templado",x) if x>=26 and x<=29 else ("caliente",x) for x in temperatura]
datos

[('frío', 1),
 ('frío', 2),
 ('frío', 3),
 ('frío', 4),
 ('frío', 5),
 ('frío', 6),
 ('frío', 7),
 ('frío', 8),
 ('frío', 9),
 ('frío', 10),
 ('frío', 11),
 ('frío', 12),
 ('frío', 13),
 ('frío', 14),
 ('frío', 15),
 ('frío', 16),
 ('frío', 17),
 ('frío', 18),
 ('frío', 19),
 ('frío', 20),
 ('frío', 21),
 ('frío', 22),
 ('frío', 23),
 ('frío', 24),
 ('frío', 25),
 ('templado', 26),
 ('templado', 27),
 ('templado', 28),
 ('templado', 29),
 ('caliente', 30)]